.login-header{
background: #10222B;
    color:#fff;
    padding:10px;


}



.login-form{
border:1px solid #10222B;
padding:20px;

}


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    
    background-color:#F6FFE0 !important;
}
