
<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>{{project.name}}</h1>
  </div>
</header>

<div class="container">

   <a class="btn-warning btn" style="float:right; margin-top:10px;" ng-click="archiveProject()">Archive This Project</a>
    
    <div style="clear:both"></div>
          <div class="row">
                    <div class="col-lg-6">
                        <h2>Basic Info</h2>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Project Name" ng-model="project.name">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Client" ng-model="project.client">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Date" ng-model="project.date">
                        </div>


                        <div class="input-group">
                            <label>Short Description</label>
                            <textarea class="form-control" placeholder="" ng-model="project.short_info"></textarea>
                        </div>


                        

                    </div>


                    <div class="col-lg-6">
                        

                        <h2>Main Image</h2>

                        <div class="row">
                            <div class="col-lg-6">
                                <div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true" accept="image/*,application/pdf" name="test">Drop pdfs or images here or click to upload</div>
                                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                            </div>
                            <div class="col-lg-6">
                                <span style="font-size:.9em; font-weight:300;"><em>Preview:</em></span>
                                <img ng-src="{{project.main_img}}" class="img-preview">
                                
                            </div>


                        </div>
                    </div>
                    <button class="btn btn-success" ng-click="saveProject()" style="float:right; margin-top:20px;">Save {{project.name}}</button>
                    
                </div>


</div>